<%= simple_form_for(@reserf, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserf.errors.count, "errores") %>  no permiten se guarde  la reserva  </h2> 

      <ul>
      <% @reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="wrapper">
   
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">

 <div id="container", class="form-horizontal">
   <div class="col-offset-08" >
      
  <%= f.association :client ,:label => "Cliente", label_method: :nombre, value_method: :id, prompt:"Seleccione" %>
    <%= f.label :fecha_Entrada %><br>
    <%= f.input :fecha_init ,label: false, class:"form-control" %>
  
    <%= f.label :fecha_salida %><br>
    <%= f.input :fecha_fin , label: false , class:"form-control" %>
    
    <%= f.input :room_id , :label =>"Habitacion", class:"form-control" %>

    <%= f.input:monto %>
  
  <% if f.object.new_record?%>
   <%= f.hidden_field :estatus , value:"Activa"  %>
  <%#= f.hidden_field :monto , value: %>
  <%else %>
  
   <%= f.input :estatus, collection: ["Anulada","Cancelada","Activa"], prompt:"Seleccione", :class =>"form-control" %><br />
   <%end%>
  

 
<br>
  <div class="actions col-md" align="center " >
    <%= f.submit 'Guardar', class: "btn btn-fcv"%>
    <%= link_to 'Atras', reserves_path, :class=>"btn btn-fcv"  %>
  </div>

<% end %>

 </div> </div>