
  </br>
  <div class="walllogin container"></br>
  <div class="row">
      <div class="imagen_logo">
          
      </div>
  </div></br></br>
  <div class="row"><h2 align="center">LISTADO DE RESERVAS</h2></div></br>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
       <%= link_to new_reserf_path, { :class => "btn btn-fcv"} do %>
            <i class="fa fa-fw fa-plus"></i> Registrar Reservacion
       <% end %>
    </div>
    <div class="col-md-3 col-md-offset-6">
     <div class="col-offset-08" >
        <%= form_tag(reserves_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Estatus" %>
        <%= submit_tag "Buscar" , :class => "btn-fcm"%>
        <% end %>
       <% if @reserves.present? %>
    </div>
  </div></br>
  <div class="row lista">
    <table class=" table table-bordered" >
    <thead>
      <tr>
      <th>Habitacion</th>
      <th>Fecha Entrada</th>
      <th>Fecha Salida</th>
      <th>Estatus</th>
      <th>Cliente</th>
      <th>Monto</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserve| %>
      <tr>
        <td><%= reserve.room_id %></td>
        <td><%= reserve.fecha_init %></td>
        <td><%= reserve.fecha_fin %></td>
        <td><%= reserve.estatus %></td>
        <td><%= reserve.client.nombre %></td>
        <td><%= reserve.monto %></td>
        <td><%= link_to 'Mostrar', reserve, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Editar', edit_reserf_path(reserve), {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Eliminar', reserve,  method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
     <% else %>
  <div class="row"><h2 align="center">No hay reservas <%= params[:search] %></h1>
  </div>
</body>
<% end %>