
 <div class="wrapper">
   
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
     
  <h2>Cliente: <%= @reserf.client.nombre %> </h2>
  
  
<p>
  <strong>Habitacion:</strong>
  <%= @reserf.room_id %>
</p>
<p>
  <strong>Fecha Llegada :</strong>
  <%= @reserf.fecha_init %>
</p>
<p>
  <strong>Fecha Salida :</strong>
  <%= @reserf.fecha_fin %>
</p>
<p>
  <strong>Estatus:</strong>
  <%= @reserf.estatus %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @reserf.monto %>
</p>


<%= link_to 'Editar', edit_reserf_path(@reserf) %> |
<%= link_to 'Atras', reserves_path %>
</div>
</div>