<h2>Actualizar Datos Usuario</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
     
  <div id="container", class="form-horizontal">
    <h1><%= @user.rol.capitalize %></h1>
    <%= f.input :name, label:"Nombre"%> 
    <%= f.input :email %>
   
  <% if current_user.rol=="gerente" %>
   <%= f.input :rol, collection: ["administrador","gerente"], prompt:"Seleccione", :class =>"form-control" %><br />
   <%end%>
  
  <i>(Dejarlo en blanco si no desea cambiarlo)</i>
  <%= f.input :password%> 
 
      <%= f.input :password_confirmation, label:"Confirme password", autocomplete: "off" %>
      
  <i>(Introduce tu contraseña actual para realizar los cambios)</i><br />
      <%= f.input :current_password, label:false ,autocomplete: "off" %> 
    </div>
  
    <div class="actions">
      <%= f.submit "Actualizar", class:"btn btn-fcv" %>
      <%= link_to "Atras", :back ,class:"btn btn-fcv"%>
    </div>
  <% end %>

</div>
</div>

