<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 <div class="wrapper">
   
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">

 <div id="container", class="form-horizontal">

<div class="field">
    <%= f.label :nombre  %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    <%= f.hidden_field :rol, value:'administrador' %>
  </div>

 <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  
<br>
  <div class="actions" align="center">
    <%= f.submit "Registrarse" %>
    
<%= render "devise/shared/links" %>
  </div>
<% end %>

 </div>

 </div> </div>