<%= form_for(@expend,:html => {:class => 'form-horizontal'}) do |f| %>
  <% if @expend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expend.errors.count, "errores") %>  no permiten se guarde el consumo </h2> 

      <ul>
      <% @expend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
  <div class="col-md-4">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, class:"form-control" %>
  </div>
 <div class="col-md-4">  
    <%= f.label :monto %><br>
    <%= f.text_field :monto, class:"form-control" %>
  </div>
  <br>
<div class="actions" align="center">
    <%= f.submit 'Guardar', class: "btn btn-fcv"%>
    <%= link_to 'Atras', expends_path, :class=>"btn btn-fcv"  %>
  </div>
<% end %>
