
  </br>
  <div class="walllogin container"></br>
  <div class="row">
      <div class="imagen_logo">
        
      </div>
  </div></br></br>
  <div class="row"><h2 align="center">LISTADO DE CONSUMOS</h2></div></br>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
       <%= link_to new_expend_path, { :class => "btn btn-fcv"} do %>
            <i class="fa fa-fw fa-plus"></i> Registrar Consumo
       <% end %>
    </div>
    <div class="col-md-3 col-md-offset-6">
     <%#= <div class="col-offset-08" >
        <%= form_tag(expends_path, :method => "post", id: "search-form") do %>
        <%#= text_field_tag :search, params[:search], placeholder: "Nombre" %>
        <%#= submit_tag "Buscar" , :class => "btn-fcm"%>
        <%# end %>
       <% if @expends.present? %>
      </div>
    </div>
  </div></br>
  <div class="row lista">
    <table class=" table table-bordered" >
    <thead>
    <tr>
      <th>Descripcion</th>
      <th>Monto</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @expends.each do |expend| %>
      <tr>
        <td><%= expend.descripcion %></td>
        <td><%= expend.monto %></td>
         <td><%= link_to 'Mostrar', expend, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Editar', edit_expend_path(expend), {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Eliminar', expend,  method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="row"><h2 align="center">No hay consumos  <%= params[:search] %></h1>
  </div>
</body>
<% end %>