<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
  <h1 > <%= @expend.descripcion %> </h1>
 
 <br>
  <br>
   <br>
  <h2> Precio:  <%= @expend.monto %> </h2>


<div class="actions" align="center">
<%= link_to 'Editar', edit_expend_path(@expend), :class=>"btn btn-fcm" %> 
 <%= link_to 'Atras', expends_path, :class=>"btn btn-fcv"  %>
 </div>
  </div>
  </div>
