<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "errores") %>  no permiten se guarde  user  </h2> 

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
<div id="container", class="form-horizontal">

<%= f.input :name%>
<%= f.input :email %>
<%= f.input :rol%>
<%= f.input :password%>
 </div>

  
<br>
  <div class="actions" align="center">
    <%= f.submit 'Guardar', class: "btn btn-fcv"%>
    <%= link_to 'Atras', users_path, class:"btn btn-fcv" %>
  </div>
  
   
<% end %>
