
  </br>
  <div class="walllogin container"></br>
  <div class="row">
      <div class="imagen_logo">
          
      </div>
  </div></br></br>
  <div class="row"><h2 align="center">LISTADO DE USUARIOS</h2></div></br>
  <div class="row">
    </div>
    <div class="col-md-4 col-md-offset-6">
     
    </div>
  </div></br>
  <div class="row lista">
    <table class=" table table-bordered" >
    <thead>
      <tr>
    <tr>
      <th>Email</th>
      <th>ID</th>
      <th>Rol</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.rol %></td>
      <td><%= link_to 'Mostrar', user, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Editar', edit_user_registration_path, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Eliminar', user,  method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</body>
