<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
     
   <h1 align="center">  <%= @user.name.upcase %> </h1><br><br>


<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3<br>
<h3>
  <strong>Rol:</strong>
  <%= @user.rol %>
</h3>
<h3>
<strong>Registrado el:</strong>
  <%= @joined_on %>
</h3>
<h3>
  <strong>Ultima vez que ingreso:</strong><br>
  <%= @last_login %>
</h3<br>
<h3>
  <strong>Ha ingresado:</strong>
  <%= @user.sign_in_count %> veces
</h3><br><br>

<%= link_to 'Editar', edit_user_path(@user) ,class:"btn btn-fcv" %> 
<%= link_to 'Atras', users_path, class:"btn btn-fcv"  %>

</div>
</div>