<%= form_for(@bill_detail) do |f| %>
  <% if @bill_detail.errors.any? %>
    
        <div id="error_explanation">
      <h2><%= pluralize(@bill_detail.errors.count, "errores") %>  no permiten se guarde  bill_detail  </h2> 

      <ul>
      <% @bill_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expend_id %><br>
    <%= f.text_field :expend_id %>
  </div>
  <div class="field">
    <%= f.label :bill_id %><br>
    <%= f.text_field :bill_id %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
