<h1>Listing Bill Details</h1>

<table>
  <thead>
    <tr>
      <th>Expend</th>
      <th>Bill</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_details.each do |bill_detail| %>
      <tr>
        <td><%= bill_detail.expend %></td>
        <td><%= bill_detail.bill %></td>
        <td><%= bill_detail.cantidad %></td>
        <td><%= link_to 'Show', bill_detail %></td>
        <td><%= link_to 'Edit', edit_bill_detail_path(bill_detail) %></td>
        <td><%= link_to 'Destroy', bill_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill detail', new_bill_bill_detail_path %>
