<p>
  <strong>Expend:</strong>
  <%= @bill_detail.expend %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @bill_detail.bill %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @bill_detail.cantidad %>
</p>

<%= link_to 'Edit', edit_bill_detail_path(@bill_detail) %> |
<%= link_to 'Back', bill_details_path %>
