<%= form_for(@client, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "errores") %>  no permiten se guarde el cliente  </h2> 

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="row">
  <div class="col-md-5">
    <%= f.label :cedula %><br>
    <%= f.text_field :cedula, :class =>"form-control" %>
  </div>
  <div class="col-md-5">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :class =>"form-control" %>
  </div>
  <div class="col-md-5">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido, :class =>"form-control" %>
  </div>
  <div class="col-md-5">
    <%= f.label :edad %><br>
    <%= f.number_field :edad, :class =>"form-control" %>
  </div>
 
  <div class="col-md-5">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion,:class =>"form-control" %>
  </div>
  <div class="col-md-5">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, :class =>"form-control" %>
  </div><br><br><br>
  <div class="actions" align="center">
    <%= f.submit 'Guardar', class: "btn btn-fcv"%>
    <%= link_to 'Atras', clients_path, :class=>"btn btn-fcv"  %>
  </div>
<% end %>
