</br>
  <div class="row">
      <div class="imagen_logo">
          
      </div>
  </div></br></br>
  <div class="row"><h2 align="center">LISTADO DE CLIENTES</h2></div></br>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
       <%= link_to new_client_path, { :class => "btn btn-fcv"} do %>
            <i class="fa fa-fw fa-plus"></i> Registrar Clientes
       <% end %>
    </div>
    <div class="col-md-3 col-md-offset-6">
      <div class="input-group" >
           <%= form_tag(clients_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Filtrar", class: " form-search"  %>
        <%= submit_tag "Buscar" , :class => "btn-fcm"%>
        <% end %>   
        <% if @clients.present? %>
      </div>
    </div>
  </div></br>
  <div class="row lista">
    <table class=" table table-bordered" >
    <thead>
      <th>Cedula</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.cedula %></td>
        <td><%= client.nombre %></td>
        <td><%= client.apellido %></td>
        <td><%= client.edad %></td>
        <td><%= client.direccion %></td>
        <td><%= client.telefono %></td>
          <td><%= link_to 'Mostrar', client, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Editar', edit_client_path(client), {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Eliminar', client,  method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <% else %>
  <div class="row"><h2 align="center">No hay Cliente con el criterio <%= params[:search] %></h1>
  </div>
</body>
<% end %>