<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
     
   <h1 align="center"><%= @client.nombre %>  
   <%= @client.apellido %> </h1>
   <br>
   <br>

<p>
  <strong>Cedula:</strong>
  <%= @client.cedula %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @client.edad %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>

<strong>Primera estadia el :</strong>
  <%= @joined_on %>
</h3>

 

<%= link_to 'Editar', edit_client_path(@client) %> 
<%= link_to 'Atras', clients_path, class:"btn btn-fcv"  %>
</div>