
<tr class="nested-fields">
  
  <% f.object.build_expend if f.object.new_record?%>
  <%= f.simple_fields_for :expends, wrapper: false do |exp_form|%>
  
  <td class="col-md-3"><%= f.association :expend , label_method: :descripcion, value_method: :id, prompt:"Seleccione" , wrapper: false, label: false %></td>
  <td class="col-xs-3"><%= exp_form.input :monto, label: false  %></td>
  <td class="col-xs-3"><%=f.input :cantidad , label: false  %></td>
  <td class="col-xs-3"><%= f.input :cantidad,  label: false  %></td>
  <td class="col-xs-3"><%= link_to_remove_association "Eliminar consumo",f, wrapper: false ,label: false%></td>
   <%# <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> remove 
  </td>
 <% end %>
  <% end %>
</tr>

  
 