<%= simple_form_for(@bill, html: { class: 'form-horizontal' }) do |f| %>
  
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "errores") %>  no permiten se guarde  la factura </h2> 

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <h3>Factura nº <%=f. input_field :codigo , disabled: true%></h3>

  
 
  <%= f.association :client ,:label => "Cliente", label_method: :nombre, value_method: :id, prompt:"Seleccione" %>
  <%= f.association :reserve,:label => "Reserva", label_method: :fecha_fin, value_method: :id, prompt:"Seleccione"%>
  <%= f.input :tipo_pago ,collection: ["Debito" ,"Credito", "Efectivo"], prompt:"Seleccione"%>
   
    <div class="row lista">
      
      
    <table class=" table table-bordered" >
       
    <thead >
     
    <tr>
      <th class="col-xs-3">Consumo</th>
      <th class="col-xs-3">Precio</th>
      <th class="col-xs-3">Cantidad</th>
      <th class="col-xs-3">SubTotal</th>
      <th class="col-xs-3"></th>
      
    </tr>
  </thead>
 
  <tbody id='billd_table'>
    
  
    </tbody>
    <%= f.simple_fields_for :bill_details do |billd_form|%>
       
   <tr><%= link_to_add_association 'agregar consumo', f, :bill_details, data: {:'association-insertion-traversal' => 'in',:'data-association-insertion-node' => 'tbody#billd_table', :'association-insertion-method' => :append}%></tr> 

   
  </table >
  
       
    <% end %>
  </div>
   
  <%= f.input :monto_total , values:  @total_price  %>
    
    <h1> <%= @total_price %> </h1> 


  <div class="actions col-md-6" align="center">
       <%= link_to 'Atras', bills_path, :class=>"btn btn-fcv"  %>
       <%= f.submit 'Guardar', class: "btn btn-fcv"%>
  </div>
<% end %>
