
  </br>
  <div class="walllogin container"></br>
  <div class="row">
      <div class="imagen_logo">
          
      </div>
  </div></br></br>
  <div class="row"><h2 align="center">LISTADO DE FACTURAS</h2></div></br>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
       <%= link_to new_bill_path, { :class => "btn btn-fcv"} do %>
            <i class="fa fa-fw fa-plus"></i> Registrar Factura
       <% end %>
    </div>
    <div class="col-md-3 col-md-offset-6">
      
      <div class="col-offset-08" >
        <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Codigo " %>
        <%= submit_tag "Buscar" , :class => "btn-fcm"%>
        <% end %>
       <% if @bills.present? %>        
      </div>
    </div>
  </div></br>
  <div class="row lista">
    <table class=" table table-bordered" >
    <thead>
    <tr>
      <th>Codigo</th>
      <th>Cliente</th>
      <th>Fecha entrada de reserva</th>
      <th>Monto Total</th>
      <th colspan="3">Opciones</th>
      </tr>
    </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.codigo %></td>
         <td><%= bill.client.nombre%></td>
          <td><%= bill.reserve.fecha_init %></td>
          <td><%= bill.monto_total %></td>
        <td><%= link_to 'Mostrar', bill, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Editar', edit_bill_path(bill), {:class => "btn-xs btn-fcv" } %></td>
          <% if current_user.rol=="gerente" %>
          <td><%= link_to 'Eliminar', bill,  method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
          <%end%>
        </tr>
      <% end %>
   <% else %>
  <div class="row"><h2 align="center">No hay facturas  <%= params[:search] %></h1>
    </tbody>
  </table>
  </div>
</body>
<% end %>
