<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">

<p>
  <h2>Cliente: <%= @bill.client.nombre %></h2>
  
</p>

<p>
  <strong>Fecha:</strong>
  <%= @bill.created_at%>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @bill.codigo %>
</p>

<p>
  <strong>Fecha Entrada reservacion:</strong>
  <%= @bill.reserve.fecha_init %>
</p>

<p>
  <strong>Fecha salida reservacion:</strong>
  <%= @bill.reserve.fecha_fin %>
</p>


<p>
  <strong>Monto Total:</strong>
  <%= @bill.monto_total %>
</p>


<%= link_to 'Atras', bills_path %>
</div></div>