<%= form_for(@room_type, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @room_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_type.errors.count, "errores") %>  no permiten se guarde el tipo de habitacion </h2> 

      <ul>
      <% @room_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="wrapper">
   
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left"> 
  
  
    <%= f.label :descripcion %><br>
    <%= f.text_field :desc_th , :class =>"form-control"%>
  
    <%= f.label :precio %><br>
    <%= f.text_field :precio , :class =>"form-control"  %>
  </div><br>
  <br>
  <br>
  <br>
  <div class="row col-md-8">
  <div class="actions" align="center">
    <%= f.submit 'Guardar', class: "btn btn-fcv"%>
    <%= link_to 'Atras', rooms_path, :class=>"btn btn-fcv"  %>
  </div>   
   
<% end %>
 </div> </div>