<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
  <div class="row"><h2 align="center">LISTADO DE TIPO DE HABITACIONES</h2></div></br>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
       <%= link_to new_room_type_path, { :class => "btn btn-fcv"} do %>
            <i class="fa fa-fw fa-plus"></i> Registrar Tipo de Habitacion
       <% end %>
       
  <div class="row lista">
    <table class=" table table-bordered" >
    <thead>
      <th>Descripcion</th>
      <th>Precio</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @room_types.each do |room_type| %>
      <tr>
        <td><%= room_type.desc_th %></td>
        <td><%= room_type.precio %></td>
          <td><%= link_to 'Mostrar', room_type, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Editar', edit_room_type_path(room_type), {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Eliminar', room_type,  method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</body>