<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="left">
  <h1><%= @room_type.desc_th %> </h1>
  
</p>

<p>
  <h1>Precio: <%= @room_type.precio %> </h1>
  
</p>

<%= link_to 'Editar', edit_room_type_path(@room_type) %> |
<%= link_to 'Atras', rooms_path, :class=>"btn btn-fcv"  %>
</div>
</div>