<body >
    </br></br></br></br></br></br></br></br></br>
   
   <div class="container">
      
           <div class="col-md-5 align:left">
               <div id="title">
                    <%= image_tag "Captura.jpg", class: "img-responsive background-size: relative " %>
            </div>
         
       </div>
      
            <div class="col-md-offset-6">
                 <h5>Ingresa tus datos para identificarte.</h5>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <div class="form-group">
                         <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Introduce tu usuario" %>
                    </div>
                    <div class="form-group">
                            <%= f.label :contraseña %><br />
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder:"Contraseña" %>
                    </div>
                    
                        <%= f.submit "Iniciar Sesión", class: "btn btn-fcm col-md-offset-7" %>
                        <%= render "devise/shared/links" %>

               <% end %>
            </div>
       
    </div>
  </body>