<%= simple_form_for(@room, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "errores") %>  no permiten se guarde la habitacion</h2> 

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  
  <div class="col-md-6">
    <%= f.input :cod_hab,label:"nro Habitacion "  %>
   <%= f.association :room_type , label:"Tipo de Habitacion ", label_method: :desc_th, value_method: :id, prompt:"Seleccione" %>
   <%= f.input :piso ,collection: 1..20%>
   <%= f.input :estatus, collection: ["Disponible" ,"Reservada", "Fuera de Servicio","En servicio"], prompt:"Seleccione", :class =>"form-control" %>
  
  <div class="actions" align="center">
    <%= f.submit 'Guardar', class: "btn btn-fcv"%>
    <%= link_to 'Atras', rooms_path, :class=>"btn btn-fcv"  %>
  </div>
  </div>
<% end %>
