  </br>
  <div class="row">
  </div></br></br>
 <div class="row"><h2 align="center">LISTADO DE HABITACIONES</h2></div></br>
  <div class="form-inline">
    
       <%= link_to new_room_path, { :class => "btn btn-fcv"} do %>
            <i class="fa fa-fw fa-plus"></i> Registrar Habitacion
       <% end %>
    
       <%= link_to room_types_path, { :class => "btn btn-fcv"} do %>
            <i class="fa fa-fw fa-plus"></i>  Tipos de Habitacion
       <% end %>
       
      <div class="col-offset-08" >
        <%= form_tag(rooms_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Estado Habitacion" %>
        <%= submit_tag "Buscar" , :class => "btn-fcm"%>
        <% end %>
       <% if @rooms.present? %>
      </div>
  </div></br>
  <div class="row lista">
    <table class=" table table-bordered" >
    <thead>
      <tr>
      <th>Nro Hab</th>
      <th>Piso</th>
      <th>Estatus</th>
      <th>Descripcion</th>
      <th colspan="3 align:center">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.cod_hab%></td>
        <td><%= room.piso %></td>
        <td><%= room.estatus %></td>
        <td><%= room.room_type.desc_th %> </td>
       <td><%= link_to 'Mostrar', room, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Editar', edit_room_path(room), {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Eliminar', room,  method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
        </tr>
<%end %>   
       

    </tbody>
  </table>
   <% else %>
  <div class="row"><h2 align="center">No hay habitaciones  <%= params[:search] %></h1>
  </div>
</body>
<% end %>