<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

  <div class="col-md-5" align="left">


<h1><%= @room.room_type.desc_th %><h1>
<br>
<p>
  <strong>Piso:</strong>
  <%= @room.piso %>
</p>

<p>
  <strong>numero habitacion:</strong>
  <%= @room.cod_hab %>
</p>
<p>
  <strong>Estatus:</strong>
  <%= @room.estatus %>
</p>
<div class="actions col-md" align="center " >
<%= link_to 'Editar', edit_room_path(@room) ,class:"btn btn-fcv" %> 
<%= link_to 'Atras', rooms_path, class:"btn btn-fcv"  %>

</div>
</div>
</div>