<%= simple_form_for(@hotel, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "errores") %>  no permiten se guarde  hotel  </h2> 

      <ul>
      <% @hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

  <div class="col-md-5" align="left">

   
    <%= f.input :rif, class:"form-control" ,disabled: true %>
  
     <%= f.input :nombre, class:"form-control" ,disabled: true %>
  
    <%= f.input :direccion, class:"form-control" %>

    
     <%= f.input :telefono, class:"form-control" %>

  <div class="col-md-5" align="left">
   <%= f.input :tipo , collection: ["5 Estrellas" ," 4 Estrellas", "3 Estrellas","2 Estrellas", "1 Estrella"],
   prompt:"Seleccione", :class =>"form-control" %>
  </div>
  <br>
  <div class="actions" align="center">
    <%= f.submit 'Guardar', class:"btn btn-fcv"%>
    <%= link_to 'Atras', hotels_path, class:"btn btn-fcv"  %>
  </div>
<% end %>
