
  </br>
  <div class="walllogin container"></br>
  <div class="row">
      <div class="imagen_logo">
          
      </div>
  </div></br></br>
  <div class="row"><h2 align="center">LISTADO DE HOTELES</h2></div></br>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
       <%= link_to new_hotel_path, { :class => "btn btn-fcv"} do %>
            <i class="fa fa-fw fa-plus"></i> Registrar hotel
       <% end %>
    </div>
    
    </div>
  </div></br>
  <div class="row lista">
    <table class=" table table-bordered" >
    <thead>
    <tr>
      <th>Rif</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Tipo</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.rif %></td>
        <td><%= hotel.nombre %></td>
        <td><%= hotel.direccion %></td>
        <td><%= hotel.telefono %></td>
        <td><%= hotel.tipo %></td>
        <td><%= link_to 'Mostrar', hotel, {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Editar', edit_hotel_path(hotel), {:class => "btn-xs btn-fcv" } %></td>
          <td><%= link_to 'Eliminar', hotel,  method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</body>