<div class="wrapper">
    <div class="col-s-4 col-md-offset-4" >
     <%= image_tag "Captura.jpg", class: "watermark" %>
   </div> 

   <div class="col-md-5" align="center">
      <h1 >HOTEL <%= @hotel.nombre.upcase  %></h1>
   
        <h4>J-<%=  @hotel.rif %></h4><br><br><br>
  
         <h3 align="left">
              <strong><%= @hotel.tipo %> </strong>
              <a><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></a>
            </h3>
        
      <h2 align="left">Direccion: <%=  @hotel.direccion %></h2>
  
      <h3 align="left"><a><i class="glyphicon glyphicon-phone-alt"></i></a>  <%= @hotel.telefono %> <h3>

          <br><br><br>
     <div class="actions" align="left">
      <%= link_to 'Editar', edit_hotel_path(@hotel),class:"btn btn-fcm"  %>
      <%= link_to 'Salir', root_path, :class=>"btn btn-fcv"  %>
    </div>
  </div>
</div>