<!DOCTYPE html>
<html lang="es">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GHOTEL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :cocoon %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  
  
  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>
 
 
</head>

<body>
  <div class="walllogin container"></br>    

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"    ;>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <%= link_to root_path do %>
  <%= content_tag :span, "GHOTEL", :class => "navbar-brand", :remote => true %>
<% end %>
               
            </div>
          
            
 <% if user_signed_in? %>
  <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav"  width: 200px height: 200;>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="https://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong><%= current_user.email %></strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Ayer  4:32 PM</p>
                                        <p>Nueva Reserva</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <br></br>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="https://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong><%= current_user.email %></strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Ayer  4:32 PM</p>
                                        <p>Pago consumos</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="https://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong><%= current_user.email %></strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Ayer  4:32 PM</p>
                                        <p>Servicio Cancelado...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Leer nuevos mensajes</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Mensaje <span class="label label-default"></span></a>
                        </li>
                        <li>
                            <a href="#">Mensaje <span class="label label-primary"></span></a>
                        </li>
                        <li>
                            <a href="#">Mensaje <span class="label label-success"></span></a>
                        </li>
                        <li>
                            <a href="#">Mensaje <span class="label label-info"></span></a>
                        </li>
                        <li>
                            <a href="#">Mensaje <span class="label label-warning"></span></a>
                        </li>
                        <li>
                            <a href="#">Mensaje <span class="label label-danger"></span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Ver Todos</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                        <a ><i class="fa fa-fw fa-user"></i> <%= link_to "Perfil", edit_user_registration_path %></a>
                          
                      </li>
                       <li>
                           <a href="#"><i class="fa fa-fw fa-envelope"></i>Actividades</a>
                       </li>
                       <li>
                           <a href="#"><i class="fa fa-fw fa-gear"></i> Configurar </a>
                       </li>
                       <li class="divider"></li>
                       <li>
                            <a class="fa fa-fw fa-power-off"> <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></a> 
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
 
 
<!-- Navigation  -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" style=" width: 180px">
                    <li class="active">

            <li>
                <%= link_to "Inicio", root_path %>                    
            </li>
             <li>
                <%= link_to "Reservaciones", reserves_path %>
            </li>
             <li>
                <%= link_to "Habitaciones", rooms_path %>
            </li>
             <li>
                <%= link_to "Consumos", expends_path %>
            </li>
             <li>
                <%= link_to "Clientes", clients_path %>
            </li>
             <li>
                <%= link_to "Facturas", bills_path %>
            </li>
            <% if current_user.rol=="gerente" %>
             <li>
               <%= link_to "Hotel", hotel_path(3) %>
             </li>
            <li>
                <%= link_to "Usuarios", users_path %>
            </li>
            
               <% end %>    
            <li>
                <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %> 
            </li>
                        
        </ul>
    </nav>
 <% else %>
    <a id="menu-toggle" href="#" class="btn btn-fcm btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-md pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Menú de opciones</a>
            </li>
            <li>
                <%= link_to " Inicio", root_path %>                    
            </li>
             <li>
                <%= link_to " Contáctos", contact_path %>
            </li>
          
        </ul>
    </nav>
    <% end %>


            
            
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    

   

</body>
<div id=container style=" padding-left: 35px;
    margin-left: 140px;">
<div class="walllogin container"></br>
    

<p class="notice"> <%=notice%></p>
<p class="alert"> <%=alert%></p>
<%= yield %>


    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>
</div>

</div>
</html>
